html {
    font-family: 'Playfair Display', serif;
    line-height: 28px;
    font-size: 18px;
    color: #777777;
    background: url("./110099full\ \(1\).jpg");
}
* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}
#me {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-top: 50px;
    text-decoration: none;
    color: #a237ac;
}
#me:hover {
    border: 2px solid  rgb(255, 223, 193); 
}

h1,
h2,
h3,
p {
    margin-bottom: 10px;
}

p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3 {
    font-weight: 700;
    color: #fff1dd;
}

h1 {
    padding-bottom: 20px;
    font-size: 36px;
    line-height: 49px;
    border-bottom: 5px solid #e585ee;
    font-family: 'Playfair Display', serif;
}

#header {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
}
nav {
    list-style: none;
    float: right;
}
.nav-names li {
    display: inline-block;
}

.nav-names li a {
    color: #8d1a97;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 18px;
}

.nav-names li a:hover {
    border: 2px solid  rgb(255, 223, 193);
}

.content {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
}

.main {
    float: left;
    width: 100%;
    max-width: 960px;
    height: fit-content;
    padding: 30px;
    margin: 0 0 40px;
    background: rgba(95, 49, 95, 0.418);
}
.main-section {
    margin-top: 100px;
}
#contact ul {
    margin-bottom: 10px;
}

#contact li {
    margin-bottom: 5px;
}

label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid;
}

textarea {
    height: 100px;
}

input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #f8adff;
    cursor: pointer;
    background: #624664;
    border: 0 none;
}

.work {
    height: fit-content;
    width: fit-content;
    padding: 30px;
    margin: 0;
    background: rgba(95, 49, 95, 0.418);
}
#trivia {
    height: 35vh;
}
#psychic {
    height: 35vh;
}
#train-schedule {
    height: 35vh;
}
#crystal {
    height: 35vh;
}
#powerful {
    height: 35vh;
}
#negotiator {
    height: 35vh;
}
p {
    color: rgb(255, 255, 255);
}
@media (max-width: 960px) {
  }
  
  @media screen and (max-width: 768px) {
    #header {
     float: left;
    }
  }
  
  @media (max-width: 560px) {
    #header {
      float: left;
    }
  }